<div class="block-category-title">Dividers</div>
<block-viewer title="Left Aligned" [code]="block1" previewClass="surface-0 px-4 py-5 md:px-6 lg:px-8">
    <div class="flex w-full relative align-items-center justify-content-start my-3 px-4">
        <div class="border-top-1 border-300 top-50 left-0 absolute w-full"></div>
        <div class="px-2 z-1 surface-0 flex align-items-center">
            <i class="pi pi-search text-900 mr-2"></i>
            <span class="text-900 font-medium">Title Placeholder</span>
        </div>
    </div>
</block-viewer>

<block-viewer title="Centered" [code]="block2" previewClass="surface-0 px-4 py-5 md:px-6 lg:px-8">
    <div class="flex w-full relative align-items-center justify-content-center my-3 px-4">
        <div class="border-top-1 border-300 top-50 left-0 absolute w-full"></div>
        <div class="px-2 z-1 surface-0 flex align-items-center">
            <i class="pi pi-search text-900 mr-2"></i>
            <span class="text-900 font-medium">Title Placeholder</span>
        </div>
    </div>
</block-viewer>

<block-viewer title="Right Aligned" [code]="block2" previewClass="surface-0 px-4 py-5 md:px-6 lg:px-8">
    <div class="flex w-full relative align-items-center justify-content-end my-3 px-4">
        <div class="border-top-1 border-300 top-50 left-0 absolute w-full"></div>
        <div class="px-2 z-1 surface-0 flex align-items-center">
            <i class="pi pi-search text-900 mr-2"></i>
            <span class="text-900 font-medium">Title Placeholder</span>
        </div>
    </div>
</block-viewer>

<block-viewer title="With Button" [code]="block4" previewClass="surface-0 px-4 py-5 md:px-6 lg:px-8">
    <div class="flex w-full relative align-items-center justify-content-between my-3 px-4">
        <div class="border-top-1 border-300 top-50 left-0 absolute w-full"></div>
        <div class="px-2 z-1 surface-0 flex align-items-center">
            <i class="pi pi-list text-900 mr-2"></i>
            <span class="text-900 font-medium">Results</span>
        </div>
        <button pButton label="Search" icon="pi pi-search" class="p-button-rounded"></button>
    </div>
</block-viewer>