<div class="block-category-title">SlideOver</div>
<block-viewer title="Left Side" [code]="block1" previewClass="flex align-items-start justify-content-start px-4 py-8 md:px-6 lg:px-8 relative overflow-hidden" [previewStyle]="{'height': '650px'}">
    <button pButton label="Display" icon="pi pi-arrow-right" pStyleClass="@next" toggleClass="-translate-x-100"></button>
    <div class="surface-0 flex flex-column p-4 h-full absolute top-0 left-0 shadow-2 
        -translate-x-100 transition-transform transition-duration-150 transition-ease-in-out" style="width:280px">
        <div class="flex align-items-center justify-content-between mb-4">
            <span class="text-900 text-xl font-medium">Title Placeholder</span>
            <button pButton icon="pi pi-times" class="p-button-rounded p-button-text p- button-plain" pStyleClass="@grandparent" toggleClass="-translate-x-100"></button>
        </div>
        <div class="border-2 border-dashed border-300 flex-auto overflow-y-auto p-3"></div>
    </div>
</block-viewer>

<block-viewer title="Right Side" [code]="block2" previewClass="flex align-items-start justify-content-end px-4 py-8 md:px-6 lg:px-8 relative overflow-hidden" [previewStyle]="{'height': '650px'}">
    <button pButton label="Display" icon="pi pi-arrow-left" pStyleClass="@next" toggleClass="translate-x-100"></button>
    <div class="surface-0 flex flex-column p-4 h-full absolute top-0 right-0 shadow-2 
        translate-x-100 transition-transform transition-duration-150 transition-ease-in-out" style="width:280px">
        <div class="flex align-items-center justify-content-between mb-4">
            <span class="text-900 text-xl font-medium">Title Placeholder</span>
            <button pButton icon="pi pi-times" class="p-button-rounded p-button-text p- button-plain" pStyleClass="@grandparent" toggleClass="translate-x-100"></button>
        </div>
        <div class="border-2 border-dashed border-300 flex-auto overflow-y-auto p-3"></div>
    </div>
</block-viewer>
