<div class="block-category-title">Product Features</div>

<block-viewer header="Single Image with Icons" [code]="block1" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-6 p-6">
                <div class="text-900 text-3xl font-medium">Feature Title</div>
                <p class="text-600 text-xl line-height-3 mb-6">Vulputate eu scelerisque felis imperdiet proin. Eget arcu dictum varius duis at consectetur lorem donec.</p>
                <div class="flex p-5">
                    <i class="pi  pi-wallet text-4xl font-bold text-900"></i>
                    <div class="ml-5">
                        <div class="text-900 font-medium text-2xl">Eu non diam phasellus</div>
                        <p class="text-700">Vulputate eu scelerisque felis imperdiet proin. Eget arcu dictum varius duis at consectetur lorem donec.</p>
                    </div>
                </div>
                <div class="flex p-5">
                    <i class="pi  pi-video text-4xl font-bold text-900"></i>
                    <div class="ml-5">
                        <div class="text-900 font-medium text-2xl">Imperdiet proin fermentum</div>
                        <p class="text-700">Consectetur lorem donec massa sapien faucibus et molestie.</p>
                    </div>
                </div>
                <div class="flex p-5">
                    <i class="pi  pi-tags text-4xl font-bold text-900"></i>
                    <div class="ml-5">
                        <div class="text-900 font-medium text-2xl">Est ullamcorper eget</div>
                        <p class="text-700">Eget arcu dictum varius duis at consectetur lorem donec. Semper viverra nam libero justo laoreet sit amet cursus sit. </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/images/blocks/ecommerce/productfeature/product-features-1-1.png" class="border-round h-full w-full" alt="product">
            </div>
        </div>
    </div>
</block-viewer>

<block-viewer header="Single Image with Specs" [code]="block2" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-6">
                <img src="assets/images/blocks/ecommerce/productfeature/product-features-1-2.png" class="border-round h-full w-full" alt="product">
            </div>
            <div class="col-6 p-6">
                <div class="text-900 text-3xl font-medium">Feature Title</div>
                <p class="text-600 text-xl line-height-3 mb-6">Vulputate eu scelerisque felis imperdiet proin. Eget arcu dictum varius duis at consectetur lorem donec.</p>
                <table class="w-full">
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium"w-7>Eu non diam phasellus</td>
                        <td class="text-600 py-4">123 qui</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Arcu felis bibendum</td>
                        <td class="text-600 py-4">123 voluptate</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Imperdiet proin</td>
                        <td class="text-600 py-4">123 consequat</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Est ullamcorper eget</td>
                        <td class="text-600 py-4">123 cillum</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Diam sit amet nisl</td>
                        <td class="text-600 py-4">123 esse</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Tempus egestas sed</td>
                        <td class="text-600 py-4">123 velit</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl py-4 font-medium w-7">Vulputate enim nulla</td>
                        <td class="text-600 py-4">123 deserunt</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</block-viewer>

<block-viewer header="Accordion" [code]="block3" [new]="true"></block-viewer>

<block-viewer header="Square Images" [code]="block4" [new]="true"></block-viewer>

<block-viewer header="Overlay with Accordion" [code]="block5" [new]="true"></block-viewer>

<block-viewer header="Alternating Sections" [code]="block6" [new]="true"></block-viewer>

<block-viewer header="Two Columns" [code]="block7" [new]="true"></block-viewer>