<div class="block-category-title">Order Detail Pages</div>

<block-viewer header="Simple" [code]="block1" [new]="true">
    <div class="surface-900 px-4 lg:px-8 lg:py-3 flex w-full justify-content-between align-items-center">
        <span class="text-0">Sign Up for 15% off your first order</span>
        <a tabindex="0" class="cursor-pointer h-full inline-flex align-items-center py-3 lg:py-0 px-3">
            <img src="assets/images/blocks/ecommerce/storefront/storefront-1-19.png" class="mr-2" alt="Flag">
            <span class="text-0">EUR</span>
        </a>
    </div>

    <div class="surface-0 lg:px-8 flex relative lg:static justify-content-between border-bottom-1 border-200" style="min-height: 42px">
        <a pRipple class="cursor-pointer inline-flex align-items-center px-3 lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-2xl"></i>
        </a>
        <div class="hidden lg:flex absolute lg:static w-full surface-0 left-0 top-100 z-1 shadow-2 lg:shadow-none">
            <ul class="flex list-none h-auto lg:5rem p-0 m-0 flex-column lg:flex-row">
                <li class="h-full">
                    <a pRipple class="text-600 hover:text-900 cursor-pointer h-full inline-flex align-items-center border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-gray-900 transition-colors transition-duration-150 py-3 lg:py-0 px-3">
                        <span class="font-bold">Women</span>
                    </a>
                </li>
                <li class="h-full">
                    <a pRipple class="text-600 hover:text-900 cursor-pointer h-full inline-flex align-items-center border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent border-transparent hover:border-gray-900 transition-colors transition-duration-150 py-3 lg:py-0 px-3">
                        <span class="font-bold">Men</span>
                    </a>
                </li>
                <li class="h-full">
                    <a pRipple class="text-600 hover:text-900 cursor-pointer h-full inline-flex align-items-center border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent border-transparent hover:border-gray-900 transition-colors transition-duration-150 py-3 lg:py-0 px-3">
                        <span class="font-bold">Kids</span>
                    </a>
                </li>
            </ul>
        </div>

        <a pRipple class="cursor-pointer inline-flex align-items-center px-3 lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v text-xl"></i>
        </a>
        <div class="hidden lg:flex lg:justify-content-end absolute lg:static w-full surface-0 left-0 top-100 z-1 shadow-2 lg:shadow-none">
            <ul class="flex list-none p-0 m-0 flex-column lg:flex-row">
                <li class="h-full">
                    <a pRipple class="text-900 cursor-pointer h-full inline-flex align-items-center text-600 py-3 lg:py-0 px-3 border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-gray-900 transition-colors transition-duration-150">
                        <span class="pi pi-search mr-2 lg:mr-0"></span>
                        <span class="font-medium inline lg:hidden">Search</span>
                    </a>
                </li>
                <li class="h-full">
                    <a pRipple class="text-900 cursor-pointer h-full inline-flex align-items-center text-600 py-3 lg:py-0 px-3 border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-gray-900 transition-colors transition-duration-150">
                        <span class="pi pi-user mr-2 lg:mr-0"></span>
                        <span class="font-medium inline lg:hidden">Profile</span>
                    </a>
                </li>
                <li class="h-full">
                    <a pRipple class="text-900 cursor-pointer h-full inline-flex align-items-center text-600 py-3 lg:py-0 px-3 border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-gray-900 transition-colors transition-duration-150">
                        <span class="pi pi-heart mr-2 lg:mr-0"></span>
                        <span class="font-medium inline lg:hidden">Liked Products</span>
                    </a>
                </li>
                <li class="h-full">
                    <a pRipple class="text-900 cursor-pointer h-full inline-flex align-items-center text-600 py-3 lg:py-0 px-3 border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-gray-900 transition-colors transition-duration-150">
                        <span class="pi pi-shopping-cart mr-2 lg:mr-0"></span>
                        <span class="font-medium inline lg:hidden">Shopping Cart</span>
                    </a>
                </li>       
            </ul>
        </div>
    </div>

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <span class="text-700 text-xl">Thanks!</span>
        <div class="font-bold text-4xl my-2">Successful Order 🚀</div>
        <p class="text-700 text-xl mt-0 mb-4 p-0">Your order is on the way. It'll be shipped today. We'll inform you.</p>
        <div style="height:3px;background:linear-gradient(90deg, #2196F3 0%, rgba(33, 150, 243, 0) 50%);"></div>

        <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
            <div class="mb-3 sm:mb-0">
                <span class="font-medium text-xl text-900 mr-2">Order number:</span>
                <span class="font-medium text-xl text-blue-500">451234</span>
            </div>
            <div>
                <button pButton pRipple label="Details" icon="pi pi-list" class="p-button-outlined p-button-secondary mr-2"></button>
                <button pButton pRipple label="Print" icon="pi pi-print" class="p-button-outlined p-button-secondary"></button>
            </div>
        </div>
        <div class="border-round surface-border border-1">
            <ul class="list-none p-0 m-0">
                <li class="p-3 border-bottom-1 surface-border flex align-items-start sm:align-items-center">
                    <img src="assets/images/blocks/ecommerce/ordersummary/order-summary-1-1.png" class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2" />
                    <div class="flex flex-column">
                        <span class="text-900 font-medium text-xl mb-2">Product Name</span>
                        <span class="text-600 font-medium mb-3">Blue | Medium</span>
                        <span class="text-900 font-medium">Quantity 1</span>
                    </div>
                    <span class="text-900 font-medium text-lg ml-auto">$12.00</span>
                </li>
                <li class="p-3 flex align-items-center">
                    <img src="assets/images/blocks/ecommerce/ordersummary/order-summary-1-2.png" class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2" />
                    <div class="flex flex-column">
                        <span class="text-900 font-medium text-xl mb-2">Product Name</span>
                        <span class="text-600 font-medium mb-3">Yellow | Large</span>
                        <span class="text-900 font-medium">Quantity 1</span>
                    </div>
                    <span class="text-900 font-medium text-lg ml-auto">$24.00</span>
                </li>
            </ul>
        </div>
        <div class="flex flex-wrap mt-5 pb-3">
            <div class="w-full lg:w-6 pl-3">
                <span class="font-medium text-900">Shipping Address</span>
                <div class="flex flex-column text-900 mt-3 mb-5">
                    <span class="mb-1">Celeste Slater</span>
                    <span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span>
                    <span>(786) 713-8616</span>
                </div>

                <span class="font-medium text-900">Payment</span>
                <div class="flex align-items-center mt-3">
                    <img src="assets/images/blocks/ecommerce/ordersummary/visa.png" class="w-4rem mr-3" />
                    <div class="flex flex-column">
                        <span class="text-900 mb-1">Visa Debit Card</span>
                        <span class="text-900 font-medium">**** **** **** 1234</span>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
                <ul class="list-none p-0 m-0 w-full">
                    <li class="mb-3"><span class="font-medium text-900">Summary</span></li>
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Subtotal</span>
                        <span class="text-900 font-medium text-lg">$36.00</span>
                    </li>
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Shipping</span>
                        <span class="text-900 font-medium text-lg">$5.00</span>
                    </li>
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Tax</span>
                        <span class="text-900 font-medium text-lg">$4.00</span>
                    </li>
                    <li class="flex justify-content-between border-top-1 surface-border py-3">
                        <span class="text-900 font-medium">Total</span>
                        <span class="text-900 font-bold text-lg">$41.00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p-divider styleClass="w-full border-gray-200 m-0"></p-divider>
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid grid-nogutter flex-column lg:flex-row text-center lg:text-left">
            <div class="col flex flex-column mt-4">
                <span class="text-700 text-xl block">Company</span>
                <ul class="list-none p-0">
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">About Peak</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Factories</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Careers</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Environmental Initiatives</a></li>
                </ul>
            </div>
           
            <div class="col flex flex-column mt-4">
                <span class="text-700 text-xl block">Account</span>
                <ul class="list-none p-0">
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Manage Account</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Saved Items</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">My Cart</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Orders & Returns</a></li>
                </ul>
            </div>
           
            <div class="col flex flex-column mt-4">
                <span class="text-700 text-xl block">Legal</span>
                <ul class="list-none p-0">
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Investor Relations</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Data Privacy</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms of Service</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Legal Information</a></li>
                </ul>
            </div>
           
            <div class="col flex flex-column mt-4">
                <span class="text-700 text-xl block">Connect</span>
                <ul class="list-none p-0">
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Instagram</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Twitter</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Facebook</a></li>
                    <li><a tabindex="0" pRipple class="text-500 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Pinterest</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="surface-200 px-4 py-2 md:px-6 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
        <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0 text-center lg:text-left">
           <span class="text-500">© 2022, Peak. Powered by PrimeBlocks.</span>
        </div>
        <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
            <i class="pi pi-twitter p-1 text-sm text-900 cursor-pointer mr-3"></i>
            <i class="pi pi-facebook p-1 text-sm text-900 cursor-pointer mr-3"></i>
            <i class="pi pi-youtube p-1 text-sm text-900 cursor-pointer mr-3"></i>
            <i class="pi pi-google p-1 text-sm text-900 cursor-pointer mr-3"></i>
        </div>
    </div>
</block-viewer>