<div class="block-category-title">Order Summary</div>
<block-viewer header="Simple" [code]="block1" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <span class="text-700 text-xl">Thanks!</span>
        <div class="font-bold text-4xl my-2">Successful Order 🚀</div>
        <p class="text-700 text-xl mt-0 mb-4 p-0">Your order is on the way. It'll be shipped today. We'll inform you.</p>
        <div style="height:3px;background:linear-gradient(90deg, #2196F3 0%, rgba(33, 150, 243, 0) 50%);"></div>

        <div class="flex align-items-center justify-content-between py-5">
            <div>
                <span class="font-medium text-xl text-900 mr-2">Order number:</span>
                <span class="font-medium text-xl text-blue-500">451234</span>
            </div>
            <div>
                <button pButton pRipple label="Details" icon="pi pi-list" class="p-button-outlined p-button-secondary mr-2"></button>
                <button pButton pRipple label="Print" icon="pi pi-print" class="p-button-outlined p-button-secondary"></button>
            </div>
        </div>
        <div class="border-round surface-border border-1">
            <ul class="list-none p-0 m-0">
                <li class="p-3 border-bottom-1 surface-border flex align-items-center">
                    <img src="assets/images/blocks/ecommerce/ordersummary/order-summary-1-1.png" class="w-8rem h-8rem flex-shrink-0 mr-3 shadow-2" />
                    <div class="flex flex-column">
                        <span class="text-900 font-medium text-xl mb-2">Product Name</span>
                        <span class="text-600 font-medium mb-3">Blue | Medium</span>
                        <span class="text-900 font-medium">Quantity 1</span>
                    </div>
                    <span class="text-900 font-medium text-lg ml-auto align-self-start">$12.00</span>
                </li>
                <li class="p-3 flex align-items-center">
                    <img src="assets/images/blocks/ecommerce/ordersummary/order-summary-1-2.png" class="w-8rem h-8rem flex-shrink-0 mr-3 shadow-2" />
                    <div class="flex flex-column">
                        <span class="text-900 font-medium text-xl mb-2">Product Name</span>
                        <span class="text-600 font-medium mb-3">Yellow | Large</span>
                        <span class="text-900 font-medium">Quantity 1</span>
                    </div>
                    <span class="text-900 font-medium text-lg ml-auto align-self-start">$24.00</span>
                </li>
            </ul>
        </div>
        <div class="flex md:flex-row mt-5 pb-3">
            <div class="w-6 pl-3">
                <span class="font-medium text-900">Shipping Address</span>
                <div class="flex flex-column text-900 mt-3 mb-5">
                    <span class="mb-1">Celeste Slater</span>
                    <span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span>
                    <span>(786) 713-8616</span>
                </div>

                <span class="font-medium text-900">Payment</span>
                <div class="flex align-items-center mt-3">
                    <img src="assets/images/blocks/ecommerce/ordersummary/visa.png" class="w-4rem mr-3" />
                    <div class="flex flex-column">
                        <span class="text-900 mb-1">Visa Debit Card</span>
                        <span class="text-900 font-medium">**** **** **** 1234</span>
                    </div>
                </div>
            </div>
            <div class="w-6 pr-3 flex align-items-end">
                <ul class="list-none p-0 m-0 w-full">
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Subtotal</span>
                        <span class="text-900 font-medium text-lg">$36.00</span>
                    </li>
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Shipping</span>
                        <span class="text-900 font-medium text-lg">$5.00</span>
                    </li>
                    <li class="flex justify-content-between mb-3">
                        <span class="text-900">Tax</span>
                        <span class="text-900 font-medium text-lg">$4.00</span>
                    </li>
                    <li class="flex justify-content-between border-top-1 surface-border py-3">
                        <span class="text-900 font-medium">Total</span>
                        <span class="text-900 font-bold text-lg">$41.00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block-viewer>