$colors: "blue", "green", "yellow", "cyan", "pink", "indigo", "teal", "orange", "bluegray", "purple";
$colorShades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$surfaceShades: 0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

@include color-class('text-', 'color', $colors, $colorShades);
@include color-class('bg-', 'background-color', $colors, $colorShades);
@include color-class('border-', 'border-color', $colors, $colorShades);
@include style-class('background-color', (bg-transparent:'transparent'), true);
@include surface-class('text', 'color', $surfaceShades);
@include surface-class('surface', 'background-color', $surfaceShades);
@include surface-class('border', 'border-color', $surfaceShades);

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}