$display-props: (
    'hidden': 'none',
    'block': 'block',
    'inline': 'inline',
    'inline-block': 'inline-block',
    'flex': 'flex',
    'inline-flex': 'inline-flex'
);

@each $prop-name, $prop-value in $display-props {
    .#{$prop-name} {
        display: #{$prop-value} !important;
    }
}

@each $key, $val in $breakpoints {
    @media screen and (min-width: #{$val}) {
        .#{$key + $separator} {
            @each $prop-name, $prop-value in $display-props {
                &#{$prop-name} {
                    display: #{$prop-value} !important;
                }
            }
        }
    }
}