$width-properties: (
    'w-full': 100%,
    'w-screen': 100vw,
    'w-auto': auto,
    'w-min': min-content,
    'w-max': max-content
);

$height-properties: (
    'h-full': 100%,
    'h-screen': 100vh,
    'h-auto': auto
);

$min-width-properties: (
    'min-w-0': 0px,
    'min-w-full': 100%,
    'min-w-screen': 100vw,
    'min-w-min': min-content,
    'min-w-max': max-content
);

$max-width-properties: (
    'max-w-0': 0px,
    'max-w-full': 100%,
    'max-w-screen': 100vw,
    'max-w-min': min-content,
    'max-w-max': max-content
);

$min-height-properties: (
    'min-h-0': 0px,
    'min-h-full': 100%,
    'min-h-screen': 100vh
);

$max-height-properties: (
    'max-h-0': 0px,
    'max-h-full': 100%,
    'max-h-screen': 100vh
);

@include style-class('width', $width-properties, true);
@include style-class('height', $width-properties, true);
@include style-class('min-width', $width-properties, true);
@include style-class('max-width', $width-properties, true);
@include style-class('min-height', $width-properties, true);
@include style-class('max-height', $width-properties, true);