<div class="block-category-title">Pricing Sections</div>
<block-viewer header="3 Tiers" [code]="block1" containerClass="surface-ground px-4 py-8 md:px-6 lg:px-8" [free]="true">
    <div>
        <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
        <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>

        <div class="grid">
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">Basic</div>
                        <div class="text-600">Plan description</div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <div class="flex align-items-center">
                            <span class="font-bold text-2xl text-900">$9</span>
                            <span class="ml-2 font-medium text-600">per month</span>
                        </div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Arcu vitae elementum</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Dui faucibus in ornare</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Morbi tincidunt augue</span>
                            </li>
                        </ul>
                        <hr class="mb-3 mx-0 border-top-1 border-bottom-none surface-border mt-auto" />
                        <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">Premium</div>
                        <div class="text-600">Plan description</div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <div class="flex align-items-center">
                            <span class="font-bold text-2xl text-900">$29</span>
                            <span class="ml-2 font-medium text-600">per month</span>
                        </div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Arcu vitae elementum</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Dui faucibus in ornare</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Morbi tincidunt augue</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Duis ultricies lacus sed</span>
                            </li>
                        </ul>
                        <hr class="mb-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">Enterprise</div>
                        <div class="text-600">Plan description</div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <div class="flex align-items-center">
                            <span class="font-bold text-2xl text-900">$49</span>
                            <span class="ml-2 font-medium text-600">per month</span>
                        </div>
                        <hr class="my-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Arcu vitae elementum</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Dui faucibus in ornare</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Morbi tincidunt augue</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Duis ultricies lacus sed</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Imperdiet proin</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span>Nisi scelerisque</span>
                            </li>
                        </ul>
                        <hr class="mb-3 mx-0 border-top-1 border-bottom-none surface-border" />
                        <button pButton pRipple label="Buy Now" class="p-3 w-full p-button-outlined"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block-viewer>

<block-viewer header="Multi Colored" [code]="block2" containerClass="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-section">
        <div class="text-blue-600 text-2xl mb-4 text-center">Save up to 25% today</div>
        <div class="text-900 font-bold text-6xl text-center mb-4">Pricing Plans</div>
        <div class="flex align-items-center justify-content-center text-900">
            <span class="font-semibold mr-3">Monthly</span>
            <p-inputSwitch></p-inputSwitch>
            <span class="ml-3">Yearly</span>
        </div>

        <div class="flex flex-column md:flex-row mt-6">
            <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
                <div class="bg-bluegray-100 text-center p-3" style="border-radius: 6px 6px 0 0" >
                    <div class="text-2xl font-bold text-bluegray-900 mb-3">Basic</div>
                    <div class="flex align-items-center justify-content-center">
                        <span class="font-bold text-bluegray-900 text-5xl mr-2">10$</span>
                        <span class="text-2xl text-bluegray-400"> / month</span>
                    </div>
                </div>
                <div class="bg-bluegray-50 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px">
                    <div class="text-bluegray-500 font-bold line-height-3 mb-4">Ut enim ad minim veniam, quis nostrud exercitation.</div>
                    <ul class="list-none p-0 m-0 mb-5 text-bluegray-600">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Arcu vitae elementum</span>
                        </li>
                        <li class="flex align-items-center">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Dui faucibus in ornare</span>
                        </li>
                    </ul>

                    <button pButton pRipple class="p-button-secondary w-full mt-auto" label="Try Free"></button>
                </div>
            </div>

            <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
                <div class="bg-bluegray-800 text-center p-3 border-3 border-green-500 border-bottom-none" style="border-radius: 6px 6px 0 0">
                    <div class="bg-green-500 text-0 font-bold text-sm inline-block p-2 mb-3" style="border-radius: 20px">MOST POPULAR</div>
                    <div class="text-2xl font-bold text-white mb-3">Premium</div>
                    <div class="flex align-items-center justify-content-center">
                        <span class="font-bold text-white text-5xl mr-2">20$</span>
                        <span class="text-2xl text-bluegray-400"> / month</span>
                    </div>
                </div>
                <div class="bg-bluegray-900 p-4 flex flex-column flex-grow-1 border-3 border-green-500 border-top-none" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px">
                    <div class="text-bluegray-400 font-bold line-height-3 mb-4">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    <ul class="list-none p-0 m-0 mb-5 text-bluegray-100">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Arcu vitae elementum</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Dui faucibus in ornare</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Morbi tincidunt augue</span>
                        </li>
                        <li class="flex align-items-center">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Duis ultricies lacus sed</span>
                        </li>
                    </ul>

                    <button pButton pRipple class="p-button-success w-full mt-auto" label="Buy Now"></button>
                </div>
            </div>

            <div class="mb-6 md:mb-0 flex flex-column flex-grow-1">
                <div class="bg-blue-800 text-center p-3" style="border-radius: 6px 6px 0 0" >
                    <div class="text-2xl font-bold text-white mb-3">Enterprise</div>
                    <div class="flex align-items-center justify-content-center">
                        <span class="font-bold text-white text-5xl mr-2">30$</span>
                        <span class="text-2xl text-blue-400"> / month</span>
                    </div>
                </div>
                <div class="bg-blue-900 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px">
                    <div class="text-blue-400 font-bold line-height-3 mb-4">Duis aute irure dolor in reprehenderit in voluptate velit.</div>
                    <ul class="list-none p-0 m-0 mb-5 text-blue-100">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Arcu vitae elementum</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Dui faucibus in ornare</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Morbi tincidunt augue</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Duis ultricies lacus sed</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-circle-on mr-2 text-sm"></i>
                            <span>Imperdiet proin</span>
                        </li>
                    </ul>

                    <button pButton pRipple class="p-button-outlined w-full mt-auto" label="Contact Us" ></button>
                </div>
            </div>
        </div>
    </div>
</block-viewer>