<div class="block-category-title">Tabs</div>
<block-viewer title="Underline" [code]="block1" previewClass="px-3 py-8 md:px-6 lg:px-8">
    <ul class="surface-0 p-0 m-0 list-none flex overflow-x-auto select-none">
        <li>
            <a class="cursor-pointer text-blue-500 px-4 py-3 flex align-items-center border-bottom-2 border-blue-500">
                <i class="pi pi-home mr-2"></i>
                <span class="font-medium">Overview</span>
            </a>
        </li>
        <li>
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center border-bottom-2 border-transparent hover:border-500">
                <i class="pi pi-users mr-2"></i>
                <span class="font-medium">Members</span>
            </a>
        </li>
        <li>
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center border-bottom-2 border-transparent hover:border-500">
                <i class="pi pi-shopping-cart mr-2"></i>
                <span class="font-medium">Sales</span>
            </a>
        </li>
        <li>
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center border-bottom-2 border-transparent hover:border-500">
                <i class="pi pi-user mr-2"></i>
                <span class="font-medium">Profile</span>
            </a>
        </li>
        <li>
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center border-bottom-2 border-transparent hover:border-500">
                <i class="pi pi-cog mr-2"></i>
                <span class="font-medium">Settings</span>
            </a>
        </li>
    </ul>
</block-viewer>

<block-viewer title="Pills" [code]="block2" previewClass="px-3 py-8 md:px-6 lg:px-8">
    <ul class="surface-0 p-2 m-0 list-none flex overflow-x-auto select-none">
        <li class="mr-2">
            <a class="cursor-pointer text-blue-500 px-4 py-3 flex align-items-center bg-blue-50">
                <i class="pi pi-home mr-2"></i>
                <span class="font-medium">Overview</span>
            </a>
        </li>
        <li class="mr-2">
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center hover:surface-100">
                <i class="pi pi-users mr-2"></i>
                <span class="font-medium">Members</span>
            </a>
        </li>
        <li class="mr-2">
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center hover:surface-100">
                <i class="pi pi-shopping-cart mr-2"></i>
                <span class="font-medium">Sales</span>
            </a>
        </li>
        <li class="mr-2">
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center hover:surface-100">
                <i class="pi pi-user mr-2"></i>
                <span class="font-medium">Profile</span>
            </a>
        </li>
        <li>
            <a class="cursor-pointer text-700 px-4 py-3 flex align-items-center hover:surface-100">
                <i class="pi pi-cog mr-2"></i>
                <span class="font-medium">Settings</span>
            </a>
        </li>
    </ul>
</block-viewer>
