<div class="block-category-title">Marketing</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Page Sections</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/hero']">
                        <img src="assets/images/placeholders/placeholder-hero.svg" class="block-placeholder" alt="Hero">
                    </a>
                    <span class="block-name">Hero</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/feature']">
                        <img src="assets/images/placeholders/placeholder-feature.svg" class="block-placeholder" alt="Feature">
                    </a>
                    <span class="block-name">Feature</span>
                    <span class="block-count">6 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/cta']">
                        <img src="assets/images/placeholders/placeholder-cta.svg" class="block-placeholder" alt="CTA">
                    </a>
                    <span class="block-name">Call to Action</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/pricing']">
                        <img src="assets/images/placeholders/placeholder-pricing.svg" class="block-placeholder" alt="Pricing">
                    </a>
                    <span class="block-name">Pricing</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/header']">
                      <img src="assets/images/placeholders/placeholder-headersection.svg" class="block-placeholder" alt="Header">
                    </a>
                    <span class="block-name">Header</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/faq']">
                        <img src="assets/images/placeholders/placeholder-faq.svg" class="block-placeholder" alt="FAQ">
                    </a>
                    <span class="block-name">FAQ</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/newsletter']">
                      <img src="assets/images/placeholders/placeholder-newsletter.svg" class="block-placeholder" alt="Newsletter">
                    </a>
                    <span class="block-name">Newsletter</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-testimonials.svg" class="block-placeholder" alt="Testimonial">
                    <span class="block-name">Testimonial</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/blog']">
                        <img src="assets/images/placeholders/placeholder-blogsections.svg" class="block-placeholder" alt="Blog">
                    </a>
                    <span class="block-name">Blog</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-contactsections.svg" class="block-placeholder" alt="Contact">
                    <span class="block-name">Contact</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-teamsections.svg" class="block-placeholder" alt="Team">
                    <span class="block-name">Team</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-contentsections.svg" class="block-placeholder" alt="Content">
                    <span class="block-name">Content</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-footer.svg" class="block-placeholder" alt="Footer">
                    <span class="block-name">Footer</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-logocloud.svg" class="block-placeholder" alt="Logo Cloud">
                    <span class="block-name">Logo Cloud</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stats.svg" class="block-placeholder" alt="Stats">
                    <span class="block-name">Stats</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Elements</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-headers.svg" class="block-placeholder" alt="Headers">
                    <span class="block-name">Headers</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-banner.svg" class="block-placeholder" alt="Banners">
                    <span class="block-name">Banners</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-flyoutmenus.svg" class="block-placeholder" alt="Flyout Menus">
                    <span class="block-name">Flyout Menus</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-category-title">Application UI</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Application Shells</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stackedlayout.svg" class="block-placeholder" alt="Stacked Layout">
                    <span class="block-name">Stacked Layout</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-sidebarlayouts.svg" class="block-placeholder" alt="Sidebar Layout">
                    <span class="block-name">Sidebar Layout</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stackedlayout.svg" class="block-placeholder" alt="Multi-Column Layout">
                    <span class="block-name">Multi-Column Layout</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Headings</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-pageheadings.svg" class="block-placeholder" alt="Page Heading">
                    <span class="block-name">Page Heading</span>
                    <span class="block-count">7 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-cardheadings.svg" class="block-placeholder" alt="Card Heading">
                    <span class="block-name">Card Heading</span>
                    <span class="block-count">7 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-sectionheadings.svg" class="block-placeholder" alt="Section Heading">
                    <span class="block-name">Section Heading</span>
                    <span class="block-count">7 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Data Display</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-descriptionlist.svg" class="block-placeholder" alt="Description List">
                    <span class="block-name">Description List</span>
                    <span class="block-count">7 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stats-data.svg" class="block-placeholder" alt="Stats">
                    <span class="block-name">Stats</span>
                    <span class="block-count">7 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Lists</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-tables.svg" class="block-placeholder" alt="Table">
                    <span class="block-name">Table</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stackedlists.svg" class="block-placeholder" alt="Stacked List">
                    <span class="block-name">Stacked List</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-gridlists.svg" class="block-placeholder" alt="Grid List">
                    <span class="block-name">Grid List</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-feeds.svg" class="block-placeholder" alt="Feed">
                    <span class="block-name">Feed</span>
                    <span class="block-count">3 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Forms</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-formlayouts.svg" class="block-placeholder" alt="Form Layout">
                    <span class="block-name">Form Layout</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-inputgroups.svg" class="block-placeholder" alt="Input Group">
                    <span class="block-name">InputGroup</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-tables.svg" class="block-placeholder" alt="Select Menu">
                    <span class="block-name">Select Menu</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-signinandregistration.svg" class="block-placeholder" alt="Sign-in and Register">
                    <span class="block-name">Sign-in and Register</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-radiogroups.svg" class="block-placeholder" alt="Radio Group">
                    <span class="block-name">Radio Group</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-toggles.svg" class="block-placeholder" alt="Toggle">
                    <span class="block-name">Toggle</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-actionpanels.svg" class="block-placeholder" alt="Action Panel">
                    <span class="block-name">Action Paneş</span>
                    <span class="block-count">24 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Feedback</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-alert.svg" class="block-placeholder" alt="Alert">
                    <span class="block-name">Alert</span>
                    <span class="block-count">5 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Navigation</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-navbars.svg" class="block-placeholder" alt="Navbar">
                    <span class="block-name">Navbar</span>
                    <span class="block-count">5 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-pagination.svg" class="block-placeholder" alt="Pagination">
                    <span class="block-name">Pagination</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-tabs.svg" class="block-placeholder" alt="Tabs">
                    <span class="block-name">Tabs</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-verticalnavigation.svg" class="block-placeholder" alt="Vertical Navigation">
                    <span class="block-name">Vertical Navigation</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-sidebarnavigation.svg" class="block-placeholder" alt="Sidebar Navigation">
                    <span class="block-name">Sidebar Navigation</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-breadcrumb.svg" class="block-placeholder" alt="Breadcrumb">
                    <span class="block-name">Breadcrumbs</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-steps.svg" class="block-placeholder" alt="Steps">
                    <span class="block-name">Steps</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Overlays</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-modals.svg" class="block-placeholder" alt="Modal">
                    <span class="block-name">Modal</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-slideovers.svg" class="block-placeholder" alt="Slide-over">
                    <span class="block-name">Slide-over</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-notification.svg" class="block-placeholder" alt="Notification">
                    <span class="block-name">Notification</span>
                    <span class="block-count">5 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Elements</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-avatars.svg" class="block-placeholder" alt="Avatar">
                    <span class="block-name">Avatar</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-dropdown.svg" class="block-placeholder" alt="Dropdown">
                    <span class="block-name">Dropdown</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-badges.svg" class="block-placeholder" alt="Badges">
                    <span class="block-name">Badge</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-buttons.svg" class="block-placeholder" alt="Buttons">
                    <span class="block-name">Button</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-buttongroups.svg" class="block-placeholder" alt="Button Groups">
                    <span class="block-name">Button Group</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Layout</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-containers.svg" class="block-placeholder" alt="Container">
                    <span class="block-name">Container</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-panels.svg" class="block-placeholder" alt="Panel">
                    <span class="block-name">Panel</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-listcontainers.svg" class="block-placeholder" alt="List Container">
                    <span class="block-name">List Container</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-mediaobjects.svg" class="block-placeholder" alt="Media">
                    <span class="block-name">Media</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-dividers.svg" class="block-placeholder" alt="Dividers">
                    <span class="block-name">Divider</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>
