<div class="introduction">
    <div class="introduction-content">
        <div class="introduction-title">Beautiful UI Components</div>
        <div class="introduction-subtitle">Crafted with PrimeFlex</div>
        <p>Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident..</p>
        <div class="introduction-buttons">
            <button pButton pRipple label="View Blocks" (click)="viewBlocks(marketing)" class="font-medium"></button>
            <button pButton pRipple label="Get Started" class="p-button-outlined font-medium" [routerLink]="['/setup']"></button>
        </div>
    </div>
</div>
<div #marketing class="block-category-title">Marketing</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Page Sections</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/hero']">
                        <img src="assets/images/placeholders/placeholder-hero.svg" class="block-placeholder" alt="Hero">
                    </a>
                    <span class="block-name">Hero</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/feature']">
                        <img src="assets/images/placeholders/placeholder-feature.svg" class="block-placeholder" alt="Feature">
                    </a>
                    <span class="block-name">Feature</span>
                    <span class="block-count">6 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/cta']">
                        <img src="assets/images/placeholders/placeholder-cta.svg" class="block-placeholder" alt="CTA">
                    </a>
                    <span class="block-name">Call to Action</span>
                    <span class="block-count">8 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/pricing']">
                        <img src="assets/images/placeholders/placeholder-pricing.svg" class="block-placeholder" alt="Pricing">
                    </a>
                    <span class="block-name">Pricing</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/faq']">
                        <img src="assets/images/placeholders/placeholder-faq.svg" class="block-placeholder" alt="FAQ">
                    </a>
                    <span class="block-name">FAQ</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/newsletter']">
                        <img src="assets/images/placeholders/placeholder-newsletter.svg" class="block-placeholder" alt="Newsletter">
                    </a>
                    <span class="block-name">Newsletter</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/stats']">
                        <img src="assets/images/placeholders/placeholder-stats.svg" class="block-placeholder" alt="Stats">
                    </a>
                    <span class="block-name">Stats</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/testimonials']">
                        <img src="assets/images/placeholders/placeholder-testimonials.svg" class="block-placeholder" alt="Testimonial">
                    </a>
                    <span class="block-name">Testimonial</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/blog']">
                        <img src="assets/images/placeholders/placeholder-blogsections.svg" class="block-placeholder" alt="Blog">
                    </a>
                    <span class="block-name">Blog</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/contact']">
                        <img src="assets/images/placeholders/placeholder-contactsections.svg" class="block-placeholder" alt="Contact">
                    </a>
                    <span class="block-name">Contact</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/team']">
                        <img src="assets/images/placeholders/placeholder-teamsections.svg" class="block-placeholder" alt="Team">
                    </a>
                    <span class="block-name">Team</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/content']">
                        <img src="assets/images/placeholders/placeholder-contentsections.svg" class="block-placeholder" alt="Content">
                    </a>
                    <span class="block-name">Content</span>
                    <span class="block-count">1 Block</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/footer']">
                        <img src="assets/images/placeholders/placeholder-footer.svg" class="block-placeholder" alt="Footer">
                    </a>
                    <span class="block-name">Footer</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/logocloud']">
                        <img src="assets/images/placeholders/placeholder-logocloud.svg" class="block-placeholder" alt="Logo Cloud">
                    </a>
                    <span class="block-name">Logo Cloud</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/navbar']">
                        <img src="assets/images/placeholders/placeholder-marketing-navbar.svg" class="block-placeholder" alt="Headers">
                    </a>
                    <span class="block-name">NavBar</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/banner']">
                        <img src="assets/images/placeholders/placeholder-banner.svg" class="block-placeholder" alt="Banners">
                    </a>
                    <span class="block-name">Banners</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-category-title">Application UI</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Application Shells</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/stackedlayout']">
                        <img src="assets/images/placeholders/placeholder-stackedlayout.svg" class="block-placeholder" alt="Stacked Layout">
                    </a>
                    <span class="block-name">Stacked Layout</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/sidebarlayout']">
                        <img src="assets/images/placeholders/placeholder-sidebarlayouts.svg" class="block-placeholder" alt="Sidebar Layout">
                    </a>
                    <span class="block-name">Sidebar Layout</span>
                    <span class="block-count">5 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/multicolumnlayout']">
                        <img src="assets/images/placeholders/placeholder-multicolumnlayouts.svg" class="block-placeholder" alt="Multi-Column Layout">
                    </a>
                    <span class="block-name">Multi-Column Layout</span>
                    <span class="block-count">1 Block</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Headings</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/pageheading']">
                        <img src="assets/images/placeholders/placeholder-pageheadings.svg" class="block-placeholder" alt="Page Heading">
                    </a>
                    <span class="block-name">Page Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/cardheading']">
                        <img src="assets/images/placeholders/placeholder-cardheadings.svg" class="block-placeholder" alt="Card Heading">
                    </a>
                    <span class="block-name">Card Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/sectionheading']">
                        <img src="assets/images/placeholders/placeholder-sectionheadings.svg" class="block-placeholder" alt="Section Heading">
                    </a>
                    <span class="block-name">Section Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Data Display</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/descriptionlist']">
                        <img src="assets/images/placeholders/placeholder-descriptionlist.svg" class="block-placeholder" alt="Description List">
                    </a>
                    <span class="block-name">Description List</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/stats']">
                        <img src="assets/images/placeholders/placeholder-stats-data.svg" class="block-placeholder" alt="Stats">
                    </a>
                    <span class="block-name">Stats</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Lists</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/stackedlist']">
                        <img src="assets/images/placeholders/placeholder-stackedlists.svg" class="block-placeholder" alt="Stacked List">
                    </a>
                    <span class="block-name">Stacked List</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/gridlist']">
                        <img src="assets/images/placeholders/placeholder-gridlists.svg" class="block-placeholder" alt="Grid List">
                    </a>
                    <span class="block-name">Grid List</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/feed']">
                        <img src="assets/images/placeholders/placeholder-feeds.svg" class="block-placeholder" alt="Feed">
                    </a>
                    <span class="block-name">Feed</span>
                    <span class="block-count">3 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Forms</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/formlayout']">
                        <img src="assets/images/placeholders/placeholder-formlayouts.svg" class="block-placeholder" alt="Form Layout">
                    </a>
                    <span class="block-name">Form Layout</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/signin']">
                        <img src="assets/images/placeholders/placeholder-signin.svg" class="block-placeholder" alt="Sign-in">
                    </a>
                    <span class="block-name">Sign-in</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/radiogroup']">
                        <img src="assets/images/placeholders/placeholder-radiogroups.svg" class="block-placeholder" alt="Radio Group">
                    </a>
                    <span class="block-name">Radio Group</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/actionpanel']">
                        <img src="assets/images/placeholders/placeholder-actionpanels.svg" class="block-placeholder" alt="Action Panel">
                    </a>
                    <span class="block-name">Action Panel</span>
                    <span class="block-count">5 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Feedback</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/alert']">
                        <img src="assets/images/placeholders/placeholder-alert.svg" class="block-placeholder" alt="Alert">
                    </a>
                    <span class="block-name">Alert</span>
                    <span class="block-count">3 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Navigation</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/navbar']">
                        <img src="assets/images/placeholders/placeholder-app-navbar.svg" class="block-placeholder" alt="Navbar">
                    </a>
                    <span class="block-name">Navbar</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/tabs']">
                        <img src="assets/images/placeholders/placeholder-tabs.svg" class="block-placeholder" alt="Tabs">
                    </a>
                    <span class="block-name">Tabs</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/verticalnav']">
                        <img src="assets/images/placeholders/placeholder-verticalnavigation.svg" class="block-placeholder" alt="Vertical Navigation">
                    </a>
                    <span class="block-name">Vertical Navigation</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/sidebarnav']">
                        <img src="assets/images/placeholders/placeholder-sidebarnavigation.svg" class="block-placeholder" alt="Sidebar Navigation">
                    </a>
                    <span class="block-name">Sidebar Navigation</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/breadcrumb']">
                        <img src="assets/images/placeholders/placeholder-breadcrumb.svg" class="block-placeholder" alt="Breadcrumb">
                    </a>
                    <span class="block-name">Breadcrumbs</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/steps']">
                        <img src="assets/images/placeholders/placeholder-steps.svg" class="block-placeholder" alt="Steps">
                    </a>
                    <span class="block-name">Steps</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Overlays</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/dialog']">
                        <img src="assets/images/placeholders/placeholder-dialog.svg" class="block-placeholder" alt="Modal">
                    </a>
                    <span class="block-name">Dialog</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/slideover']">
                        <img src="assets/images/placeholders/placeholder-slideovers.svg" class="block-placeholder" alt="Slide-over">
                    </a>
                    <span class="block-name">SlideOver</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/notification']">
                        <img src="assets/images/placeholders/placeholder-notification.svg" class="block-placeholder" alt="Notification">
                    </a>
                    <span class="block-name">Notification</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Layout</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/container']">
                        <img src="assets/images/placeholders/placeholder-containers.svg" class="block-placeholder" alt="Container">
                    </a>
                    <span class="block-name">Container</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/panel']">
                        <img src="assets/images/placeholders/placeholder-panels.svg" class="block-placeholder" alt="Panel">
                    </a>
                    <span class="block-name">Panel</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/listcontainer']">
                        <img src="assets/images/placeholders/placeholder-listcontainers.svg" class="block-placeholder" alt="List Container">
                    </a>
                    <span class="block-name">List Container</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/divider']">
                        <img src="assets/images/placeholders/placeholder-dividers.svg" class="block-placeholder" alt="Dividers">
                    </a>
                    <span class="block-name">Divider</span>
                    <span class="block-count">9 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>
