<div class="block-category-title">Footers</div>
<block-viewer title="3-column with newsletter" [code]="block1" previewClass="surface-0 px-4 py-8 md:px-6 lg:px-8">
  <div class="surface-0">
    <div class="grid pb-6 border-x-0 border-top-0 border-bottom-1 border-solid border-300">
      <div class="col-12 md:col-3">
        <div class="text-900 font-bold line-height-3 mb-3">Company</div>
        <div class="text-700 line-height-3 mb-2">About Us</div>
        <div class="text-700 line-height-3 mb-2">News</div>
        <div class="text-700 line-height-3 mb-2">Investor Relations</div>
        <div class="text-700 line-height-3 mb-2">Careers</div>
        <div class="text-700 line-height-3 mb-2">Media Kit</div>
      </div>
      <div class="col-12 md:col-3">
        <div class="text-900 font-bold line-height-3 mb-3">Resourses</div>
        <div class="text-700 line-height-3 mb-2">Get Started</div>
        <div class="text-700 line-height-3 mb-2">Learn</div>
        <div class="text-700 line-height-3 mb-2">Case Studies</div>
      </div>
      <div class="col-12 md:col-3">
        <div class="text-900 font-bold line-height-3 mb-3">Community</div>
        <div class="text-700 line-height-3 mb-2">Discord</div>
        <div class="text-700 line-height-3 mb-2">Events</div>
        <div class="text-700 line-height-3 mb-2">FAQ</div>
        <div class="text-700 line-height-3 mb-2">Blog</div>
      </div>
      <div class="col-12 md:col-3">
        <div class="text-700 line-height-3 mb-3">Join our community to get weekly updates and unique gifts every friday.</div>
        <input pInputText placeholder="Enter your email" class="border-round border-400 p-3 mb-3 w-full">
        <button pButton label="Join" class="px-5 py-3"></button>
      </div>
    </div>
    <div class="flex flex-wrap align-items-center justify-content-between mt-6">
      <div class="flex align-items-center justify-content-start md:mb-0 mb-3">
        <img src="assets/images/blocks/footer-1.png" alt="footer sections" width="50" height="50" class="mr-3">
        <div class="text-700 font-bold text-5xl line-height-4">Bastion</div>
      </div>
      <div class="flex align-items-center justify-content-between md:mb-0 mb-3">
        <div class="text-700 md:ml-5 ml-2">Brand Policy</div>
        <div class="text-700 md:ml-5 ml-2">Privacy Policy</div>
        <div class="text-700 md:ml-5 ml-2">Terms of Service</div>
      </div>
      <div class="flex align-items-center justify-content-between">
        <i class="pi pi-twitter text-500 text-xl md:ml-3 ml-2"></i>
        <i class="pi pi-facebook text-500 text-xl md:ml-3 ml-2"></i>
        <i class="pi pi-github text-500 text-xl md:ml-3 ml-2"></i>
      </div>
    </div>
  </div>
</block-viewer>

<block-viewer title="2-column on contrast background" [code]="block2" previewClass="surface-900 px-4 py-8 md:px-6 lg:px-8">
  <div class="surface-900">
    <div class="grid">
      <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
        <img src="assets/images/blocks/footer-2.png" alt="footer sections" width="50" height="50" class="mr-3">
        <div class="text-300 font-bold text-5xl">Bastion</div>
      </div>
      <div class="col-12 md:col-3">
        <div class="text-0 text-lg mb-4 flex flex-wrap" style="max-width: 290px">Jacob Obrechtstraat 5, 1071 KC Amsterdam The Netherlands</div>
        <div class="text-0 mb-3"><i class="pi pi-phone surface-800 border-round p-1 mr-2"></i>(31) 20 779 8986</div>
        <div class="text-0 mb-3"><i class="pi pi-inbox surface-800 border-round p-1 mr-2"></i>hello@bastion.co</div>
      </div>
      <div class="col-12 md:col-3 text-200">
        <div class="text-0 font-bold line-height-3 mb-3">Company</div>
        <div class="line-height-3 mb-2">About Us</div>
        <div class="line-height-3 mb-2">News</div>
        <div class="line-height-3 mb-2">Investor Relations</div>
        <div class="line-height-3 mb-2">Careers</div>
        <div class="line-height-3 mb-2">Media Kit</div>
      </div>
      <div class="col-12 md:col-3 text-200">
        <div class="text-0 font-bold line-height-3 mb-3">Resourses</div>
        <div class="line-height-3 mb-2">Get Started</div>
        <div class="line-height-3 mb-2">Learn</div>
        <div class="line-height-3 mb-2">Case Studies</div>
      </div>
    </div>
  </div>
</block-viewer>
