<div class="block-category-title">Vertical Navigation</div>
<block-viewer title="Icons and Badges" [code]="block1" previewClass="px-3 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <div class="surface-0 shadow-2 border-round w-full lg:w-auto" style="min-width: 16rem">
        <ul class="list-none p-2 m-0">
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-home mr-2 text-700"></i>
                    <span class="font-medium text-700">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-bookmark mr-2 text-700"></i>
                    <span class="font-medium text-700">Bookmarks</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-blue-100 text-blue-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-users mr-2 text-700"></i>
                    <span class="font-medium text-700">Team</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-comments mr-2 text-700"></i>
                    <span class="font-medium text-700">Messages</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-calendar mr-2 text-700"></i>
                    <span class="font-medium text-700">Calendar</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-purple-100 text-purple-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">2</span>
                </a>
            </li>
        </ul>
    </div>
</block-viewer>

<block-viewer title="Grouped" [code]="block1" previewClass="px-3 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <div class="surface-0 shadow-2 border-round w-full lg:w-auto" style="min-width: 16rem">
        <ul class="list-none p-2 m-0">
            <li>
               <div class="p-3 text-500 font-medium">HOME</div> 
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-home mr-2 text-700"></i>
                    <span class="font-medium text-700">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-bookmark mr-2 text-700"></i>
                    <span class="font-medium text-700">Bookmarks</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-blue-100 text-blue-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-users mr-2 text-700"></i>
                    <span class="font-medium text-700">Team</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-comments mr-2 text-700"></i>
                    <span class="font-medium text-700">Messages</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-calendar mr-2 text-700"></i>
                    <span class="font-medium text-700">Calendar</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-purple-100 text-purple-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">2</span>
                </a>
            </li>
        </ul>
        <ul class="list-none p-2 m-0 border-top-1 border-300">
            <li>
               <div class="p-3 text-500 font-medium">ORGANIZATION</div> 
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-home mr-2 text-700"></i>
                    <span class="font-medium text-700">Overview</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-bookmark mr-2 text-700"></i>
                    <span class="font-medium text-700">Security</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-cyan-100 text-cyan-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-users mr-2 text-700"></i>
                    <span class="font-medium text-700">Domains</span>
                </a>
            </li>
            <li>
                <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                    <i class="pi pi-calendar mr-2 text-700"></i>
                    <span class="font-medium text-700">Reports</span>
                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-orange-100 text-orange-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">2</span>
                </a>
            </li>
        </ul>
    </div>
</block-viewer>