<div class="block-category-title">Sidebar Navigation</div>
<block-viewer title="Grouped with Icons" [code]="block1" [previewStyle]="{'height': '650px'}">
    <div class="surface-0 h-full border-right-1 border-300 flex flex-column" style="width:280px">
        <div class="p-3 flex align-items-center justify-content-center">
            <img src="assets/images/blocks/logos/hyper-700.svg" alt="Image" height="40">
        </div>
        <div class="overflow-y-auto">
            <ul class="list-none p-2 m-0">
                <li>
                   <div class="p-3 text-500 font-medium">HOME</div> 
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-home mr-2 text-700"></i>
                        <span class="font-medium text-700">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-comments mr-2 text-700"></i>
                        <span class="font-medium text-700">Messages</span>
                        <span class="inline-flex align-items-center justify-content-center ml-auto bg-blue-100 text-blue-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                    </a>
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-calendar mr-2 text-700"></i>
                        <span class="font-medium text-700">Calendar</span>
                        <span class="inline-flex align-items-center justify-content-center ml-auto bg-purple-100 text-purple-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">2</span>
                    </a>
                </li>
            </ul>
            <ul class="list-none p-2 m-0 border-top-1 border-300">
                <li>
                   <div class="p-3 text-500 font-medium">ORGANIZATION</div> 
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-home mr-2 text-700"></i>
                        <span class="font-medium text-700">Overview</span>
                    </a>
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-bookmark mr-2 text-700"></i>
                        <span class="font-medium text-700">Security</span>
                        <span class="inline-flex align-items-center justify-content-center ml-auto bg-cyan-100 text-cyan-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                    </a>
                </li>
                <li>
                    <a class="flex align-items-center cursor-pointer p-3 hover:bg-blue-50 hover:text-blue-500 border-round border-1 border-transparent hover:border-blue-100">
                        <i class="pi pi-calendar mr-2 text-700"></i>
                        <span class="font-medium text-700">Reports</span>
                        <span class="inline-flex align-items-center justify-content-center ml-auto bg-orange-100 text-orange-900 border-circle" style="min-width: 1.5rem; height: 1.5rem">2</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="p-3 flex align-items-center border-top-1 border-300 cursor-pointer mt-auto">
            <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-2" style="width: 28px; height: 28px"/>
            <span class="font-medium text-900">Amy Elsner</span>
        </a>
    </div>
</block-viewer>
