<div class="block-category-title">Action Panel</div>
<block-viewer title="Simple" [code]="block1" previewClass="px-4 py-8 md:px-6 lg:px-8 flex justify-content-center align-items-center">
    <div class="surface-0 border-round shadow-2 p-4 flex flex-column lg:flex-row align-items-start">
        <div>
            <div class="text-900 font-medium mb-3">Title Placeholder</div>
            <p class="mt-0 mb-4 lg:mb-0 p-0 line-height-3">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
        </div>
        <button pButton label="Save" icon="pi pi-check" class="ml-0 lg:ml-5"></button>
    </div>
</block-viewer>

<block-viewer title="With Button at Top Right" [code]="block2" previewClass="px-4 py-8 md:px-6 lg:px-8 flex justify-content-center align-items-center">
    <div class="surface-0 border-round shadow-2 p-4">
        <div class="text-900 font-medium mb-3">Title Placeholder</div>
        <p class="mt-0 mb-4 p-0 line-height-3">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
        <button pButton label="Save Changes"></button>
    </div>
</block-viewer>

<block-viewer title="Info and Button" [code]="block3" previewClass="px-4 py-8 md:px-6 lg:px-8 flex justify-content-center align-items-center">
    <div class="surface-0 border-round shadow-2 p-4">
        <div class="text-900 font-medium mb-3">Title Placeholder</div>
        <p class="mt-0 mb-4 p-0 line-height-3">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
        <div class="flex mb-4 flex-column lg:flex-row">
            <div class="bg-blue-50 p-3 flex-auto">
                <div class="text-600 mb-3">Guests</div>
                <span class="text-blue-600 font-medium text-xl">4</span>
            </div>
            <div class="bg-blue-50 p-3 flex-auto mx-0 my-3 lg:my-0 lg:mx-3">
                <div class="text-600 mb-3">Date</div>
                <span class="text-blue-600 font-medium text-xl">24/05/2021</span>
            </div>
            <div class="bg-blue-50 p-3 flex-auto">
                <div class="text-600 mb-3">Time</div>
                <span class="text-blue-600 font-medium text-xl">14:30</span>
            </div>
        </div>
        <button pButton label="Save Changes"></button>
    </div>
</block-viewer>

<block-viewer title="With Input" [code]="block2" previewClass="px-4 py-8 md:px-6 lg:px-8 flex justify-content-center align-items-center">
    <div class="surface-0 border-round shadow-2 p-4">
        <div class="text-900 font-medium mb-3">Change Phone</div>
        <p class="mt-0 mb-4 p-0 line-height-3">Nunc mi ipsum faucibus vitae aliquet nec.</p>
        <div class="flex">
            <input pInputText class="flex-auto mr-3">
            <button pButton label="Update"></button>
        </div>
    </div>
</block-viewer>