<div class="layout-wrapper">
    <div class="layout-topbar">
        <div class="topbar-logo">
            <img src="assets/images/logo-primeblocks.svg" class="logo" alt="PrimeBlocks Logo">
        </div>

        <div class="topbar-actions">
            <ul class="topbar-menu">
                <li><a [routerLink]="['/']" class="router-link" to="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">BLOCKS</a></li>
                <li><a [routerLink]="['/setup']" class="router-link" to="/setup" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">SETUP</a></li>
            </ul>
            <a tabindex="0" class="config-btn">
                <i class="pi pi-palette"></i>
                <span>Change Theme</span>
            </a>
        </div>    
    </div>

    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
    
</div>