<div class="block-category-title">Feed</div>
<block-viewer header="With Icons and Cards" [code]="block1" previewClass="surface-0 px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-0">
        <div class="mb-5 flex">
            <div class="flex flex-column align-items-center" style="width:2rem">
                <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">
                    <i class="pi pi-image"></i>
                </span>
                <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
            </div>
            <div class="ml-5 surface-0 shadow-2 border-round p-3 flex-auto">
                <div class="mb-3">
                    <span class="text-900 font-medium inline-block mr-3">Jacob Jones</span>
                    <span class="text-500 text-sm">1 minute ago</span>
                </div>
                <div class="line-height-3 text-700 mb-3">
                    Eu tincidunt tortor aliquam nulla facilisi cras fermentum. 
                    Sollicitudin nibh sit amet commodo nulla. Mauris in aliquam sem fringilla ut morbi.
                </div>
                <div class="text-500 flex align-items-center">
                    <i class="pi pi-heart mr-1"></i>
                    <span class="mr-3">0</span>

                    <i class="pi pi-comment mr-1"></i>
                    <span class="mr-3">1</span>

                    <i class="pi pi-eye mr-1"></i>
                    <span>24</span>
                </div>
            </div>
        </div>
        <div class="mb-5 flex">
            <div class="flex flex-column align-items-center" style="width:2rem">
                <span class="bg-orange-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">
                    <i class="pi pi-image"></i>
                </span>
                <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
            </div>
            <div class="ml-5 surface-0 shadow-2 border-round p-3 flex-auto">
                <div class="mb-3">
                    <span class="text-900 font-medium inline-block mr-3">Theresa Webb</span>
                    <span class="text-500 text-sm">2 hours ago</span>
                </div>
                <div class="line-height-3 text-700 mb-3">
                    Purus sit amet volutpat consequat mauris. Pretium lectus quam id leo in vitae. 
                    Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.
                </div>
                <div class="text-500 flex align-items-center">
                    <i class="pi pi-heart mr-1"></i>
                    <span class="mr-3">26</span>

                    <i class="pi pi-comment mr-1"></i>
                    <span class="mr-3">6</span>

                    <i class="pi pi-eye mr-1"></i>
                    <span>673</span>
                </div>
            </div>
        </div>
        <div class="mb-5 flex">
            <div class="flex flex-column align-items-center" style="width:2rem">
                <span class="bg-purple-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">
                    <i class="pi pi-image"></i>
                </span>
                <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
            </div>
            <div class="ml-5 surface-0 shadow-2 border-round p-3 flex-auto">
                <div class="mb-3">
                    <span class="text-900 font-medium inline-block mr-3">Walter Black</span>
                    <span class="text-500 text-sm">4 hours ago</span>
                </div>
                <div class="line-height-3 text-700 mb-3">
                    Euismod in pellentesque massa placerat duis ultricies lacus. 
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
                </div>
                <div class="text-500 flex align-items-center">
                    <i class="pi pi-heart mr-1"></i>
                    <span class="mr-3">62</span>

                    <i class="pi pi-comment mr-1"></i>
                    <span class="mr-3">36</span>

                    <i class="pi pi-eye mr-1"></i>
                    <span>21</span>
                </div>
            </div>
        </div>
    </div>
</block-viewer>
