<div class="block-category-title">Incentive</div>
<block-viewer header="Columns with Icons" [code]="block1" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-4 flex flex-column align-items-center">
                <span class="inline-flex align-items-center justify-content-center bg-blue-500 border-circle w-3rem h-3rem mb-4">
                    <i class="pi pi-arrow-right text-white text-2xl"></i>
                </span>
                <span class="text-900 text-xl font-medium mb-4">Pay Later in 30 Days</span>
                <p class="text-600 line-height-3 p-0 m-0">Ullamcorper sit amet risus nullam eget felis eget nunc.</p>
            </div>
            <div class="col-12 md:col-4 flex flex-column align-items-center">
                <span class="inline-flex align-items-center justify-content-center bg-cyan-500 border-circle w-3rem h-3rem mb-4">
                    <i class="pi pi-shopping-cart text-white text-2xl"></i>
                </span>
                <span class="text-900 text-xl font-medium mb-4">Free Shipping</span>
                <p class="text-600 line-height-3 p-0 m-0">Ullamcorper sit amet risus nullam eget felis eget nunc.</p>
            </div>
            <div class="col-12 md:col-4 flex flex-column align-items-center">
                <span class="inline-flex align-items-center justify-content-center bg-orange-500 border-circle w-3rem h-3rem mb-4">
                    <i class="pi pi-shield text-white text-2xl"></i>
                </span>
                <span class="text-900 text-xl font-medium mb-4">Secure Payment</span>
                <p class="text-600 line-height-3 p-0 m-0">Ullamcorper sit amet risus nullam eget felis eget nunc.</p>
            </div>
        </div>
    </div>
</block-viewer>