<div class="block-category-title">Page Heading</div>
<block-viewer title="Icon And Actions" [code]="block1">
    <div class="surface-0 px-8 py-5">
        <div class="flex lg:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 border-300">
            <div class="flex align-items-center">
                <i class="pi pi-inbox text-2xl mr-3 text-500"></i>
                <span class="text-3xl font-medium text-900">Messages</span>
            </div>
            <div class="mt-3 md:mt-0">
                <button pButton label="Settings" class="p-button-outlined mr-3" icon="pi pi-cog"></button>
                <button pButton label="Compose" icon="pi pi-plus"></button>
            </div>
        </div>
    </div>
</block-viewer>