<div class="block-category-title">Product Overview</div>
<block-viewer header="Image Grid" [code]="block1" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 lg:col-6">
                <div class="flex">
                    <div>
                        <img src="assets/images/blocks/ecommerce/product-overview-1-1.png" class="w-full" />
                    </div>
                    <div class="flex flex-column px-3">
                        <img src="assets/images/blocks/ecommerce/product-overview-1-2.png" class="mb-3 w-full" />
                        <img src="assets/images/blocks/ecommerce/product-overview-1-3.png" class="w-full"/>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 py-3 px-5">
                <ol class="flex list-none m-0 p-0 align-items-center text-sm text-600 mb-5">
                    <li class="mr-2">Category</li>
                    <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
                    <li class="mr-2">Category</li>
                    <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
                    <li class="mr-2 inline-flex align-items-center">Category</li>
                    <li class="mr-2"><i class="pi pi-angle-right text-sm"></i></li>
                    <li>Category</li>
                </ol>
                <div class="flex align-items-center justify-content-between mb-4">
                    <span class="text-xl font-medium text-900">Product Title Placeholder</span>
                    <span class="text-xl font-medium text-900">$123</span>
                </div>
                <div class="flex align-items-center mb-5">
                    <span class="mr-3">
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                    </span>
                    <span class="text-500">5.00 | See all <b>20</b> reviews</span>
                </div>
                <p class="p-0 mt-0 mb-5 line-height-3 text-700">
                    Dolor purus non enim praesent. 
                    At quis risus sed vulputate odio ut. Quis risus sed vulputate odio ut enim blandit volutpat. 
                    Ornare arcu odio ut sem nulla pharetra diam sit. Augue neque gravida in fermentum et sollicitudin ac orci phasellus.
                </p>

                <div class="font-bold text-900 mb-3">Color</div>
                <div class="flex align-items-center mb-5">
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-cyan-500 mr-3 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color1 === 'cyan' ? '0 0 0 0.2rem var(--cyan-500)' : null" (click)="color1 = 'cyan'"></div>
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-purple-500 mr-3 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color1 === 'purple' ? '0 0 0 0.2rem var(--purple-500)' : null" (click)="color1 = 'purple'"></div>
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-indigo-500 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color1 === 'indigo' ? '0 0 0 0.2rem var(--indigo-500)' : null" (click)="color1 = 'indigo'"></div>
                </div>

                <div class="mb-3 flex align-items-center justify-content-between">
                    <span class="font-bold text-900">Size</span>
                    <a tabindex="0" class="cursor-pointer text-600 text-sm flex align-items-center">Size Guide <i class="ml-1 pi pi-angle-right"></i></a>
                </div>
                <div class="flex align-items-center mb-5">
                    <div class="h-3rem w-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors" 
                        [ngClass]="{'border-blue-500 border-2 text-blue-500': size1 === 'XS'}" (click)="size1 = 'XS'">XS</div>
                    <div class="h-3rem w-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors" 
                        [ngClass]="{'border-blue-500 border-2 text-blue-500': size1 === 'S'}" (click)="size1 = 'S'">S</div>
                    <div class="h-3rem w-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors" 
                        [ngClass]="{'border-blue-500 border-2 text-blue-500': size1 === 'M'}" (click)="size1 = 'M'">M</div>
                    <div class="h-3rem w-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors"
                        [ngClass]="{'border-blue-500 border-2 text-blue-500': size1 === 'L'}"  (click)="size1 = 'L'">L</div>
                    <div class="h-3rem w-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors" 
                        [ngClass]="{'border-blue-500 border-2 text-blue-500': size1 === 'XL'}" (click)="size1 = 'XL'">XL</div>
                </div>

                <div class="bg-yellow-200 text-yellow-900 text-sm inline-flex align-items-center px-2 py-1 font-medium mb-5">
                    <i class="pi pi-exclamation"></i>
                    <span>Only a few left!</span>
                </div>

                <button pButton pRipple icon="pi pi-shopping-cart" class="w-full mb-5" label="Add to Cart"></button>

                <ul class="list-none p-0 m-0 text-sm text-600">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-credit-card mr-2"></i>
                        <span>Pay in 21 days</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-send mr-2"></i>
                        <span>Free Shipping</span>
                    </li>
                    <li class="flex align-items-center">
                        <i class="pi pi-refresh mr-2"></i>
                        <span>30 Days Return Policy</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</block-viewer>

<block-viewer header="Thumbnails" [code]="block2" [new]="true">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <ol class="flex list-none m-0 p-0 align-items-center text-sm text-600 mb-5 border-top-1 border-bottom-1 surface-border py-2">
            <li class="mr-2">Category</li>
            <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
            <li class="mr-2">Category</li>
            <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
            <li class="mr-2">Category</li>
            <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
            <li>Category</li>
        </ol>
        <div class="grid">
            <div class="col-12 lg:col-6">
                <img attr.src="assets/images/blocks/ecommerce/{{images1[selectedImageIndex1]}}" class="mb-3 w-full" />
                <div class="grid">
                    <div *ngFor="let image of images1; let i = index" class="col-3">
                        <img src="assets/images/blocks/ecommerce/{{image}}" class="w-full cursor-pointer border-2 border-round border-transparent transition-colors transition-duration-150" [ngClass]="{'border-primary': selectedImageIndex1 === i}" (click)="selectedImageIndex1 = i"/>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 py-3 px-5">
                <div class="flex align-items-center text-xl font-medium text-900 mb-4">
                    <span>Product Placeholder</span> <i class="pi ml-3 cursor-pointer" [ngClass]="{'pi-heart text-600': !liked, 'pi-heart-fill text-orange-500': liked}" (click)="liked = !liked"></i>
                </div>
                <span class="text-900 font-medium text-3xl block mb-5">$120</span>

                <div class="font-bold text-900 mb-3">Color</div>
                <div class="flex align-items-center mb-5">
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-pink-500 mr-3 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color2 === 'pink' ? '0 0 0 0.2rem var(--pink-500)' : null" (click)="color2 = 'pink'"></div>
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-orange-500 mr-3 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color2 === 'orange' ? '0 0 0 0.2rem var(--orange-500)' : null" (click)="color2 = 'orange'"></div>
                    <div class="w-2rem h-2rem flex-shrink-0 border-circle bg-indigo-500 cursor-pointer border-2 border-white transition-all transition-duration-300" 
                        [style.box-shadow]="color2 === 'indigo' ? '0 0 0 0.2rem var(--indigo-500)' : null" (click)="color2 = 'indigo'"></div>
                </div>

                <div class="font-bold text-900 mb-3">Size</div>
                <div class="w-10rem p-fluid mb-3">
                    <p-dropdown [(ngModel)]="size2" [options]="sizes" optionLabel="label" optionValue="value" placeholder="Select Size"></p-dropdown>
                </div>
                <div class="flex align-items-center mb-5">
                    <i class="pi pi-question-circle text-600 mr-3"></i>
                    <span class="mr-3">Need help about size?</span>
                    <a tabindex="0" class="text-900 font-medium inline-flex align-items-center hover:text-primary cursor-pointer transition-colors transition-duration-150">Size Guide <i class="ml-1 pi pi-angle-right"></i></a>
                </div>
                <button pButton pRipple icon="pi pi-shopping-cart" class="w-full mb-5" label="Add to Cart"></button>
                <div class="flex align-items-center justify-content-center text-900 mb-5">
                    <i class="pi pi-users mr-3"></i>
                    <span><b>12 people</b> are looking at this right now.</span>
                </div>
                <ol class="list-none p-0 m-0 surface-100 text-center text-900">
                    <li class="line-height-3 p-3 font-bold border-bottom-1 border-300">Product Highlights</li>
                    <li class="line-height-3 p-3 border-bottom-1 border-300">Sed tempus urna et pharetra. Metus vulputate eu scelerisque felis imperdiet proin fermentum.</li>
                    <li class="line-height-3 p-3 border-bottom-1 border-300">Purus gravida quis blandit turpis cursus in hac habitasse platea.</li>
                    <li class="line-height-3 p-3">Nisi quis eleifend quam adipiscing vitae proin sagittis.</li>
                </ol>
            </div>
        </div>
    </div>
</block-viewer>