<div class="block-category-title">Containers</div>
<block-viewer title="Uniform Padding" [code]="block1">
    <div class="p-4">
        <div class="border-2 border-dashed border-300 border-round surface-0" style="min-height: 20rem"></div>
    </div>
</block-viewer>

<block-viewer title="Responsive X Axis" [code]="block1">
    <div class="px-4 py-8 md:px-6 lg:px-8">
        <div class="border-2 border-dashed border-300 border-round surface-0" style="min-height: 20rem"></div>
    </div>
</block-viewer>

<block-viewer title="Responsive Both Axes" [code]="block1">
    <div class="p-4 md:p-6 lg:p-8">
        <div class="border-2 border-dashed border-300 border-round surface-0" style="min-height: 20rem"></div>
    </div>
</block-viewer>

<block-viewer title="No Padding" [code]="block1">
    <div class="p-0">
        <div class="border-2 border-dashed border-300 border-round surface-0" style="min-height: 20rem"></div>
    </div>
</block-viewer>

<block-viewer title="Uniform Padding - Full Width on Mobile" [code]="block1">
    <div class="px-0 py-4 md:px-4">
        <div class="border-2 border-dashed border-300 border-round surface-0" style="min-height: 20rem"></div>
    </div>
</block-viewer>