.layout-topbar {
    height: 80px;
    background-color: var(--surface-a);
    padding: 0 2rem;
    border-bottom: 1px solid var(--surface-d);
    display: flex;
    justify-content: space-between;

    .topbar-logo {
        display: flex;
        align-items: center;

        .logo {
            height: 56px;
        }

        .icon {
            display: none;
        }
    }

    .topbar-actions {
        display: flex;

        .topbar-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                display: flex;

                a {
                    color: var(--text-color-secondary);
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom-color .2s;
                    text-decoration: none;
                    min-width: 120px;
                    outline: 0 none;
        
                    &:hover, &:focus {
                        border-bottom-color: var(--surface-d);
                    }
        
                    &.router-link-active {
                        color: var(--text-color);
                        border-bottom-color: var(--primary-color);
                    }
                }
            }  
        }

        .config-btn-container {
            display: flex;
            align-items: center;

            .config-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid var(--surface-d);
                border-radius: 4px;
                padding: .5rem 1rem;
                font-weight: 700;
                color: var(--text-color-secondary);
                transition: background-color .2s;
                outline: 0 none;
    
                i {
                    color: var(--primary-color);
                    margin-right: .5rem;
                }

                &:hover {
                    background-color: var(--surface-c);
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .layout-topbar {
        .topbar-logo {
            padding: 12px 0;
    
            .logo {
                display: none;
            }

            .icon {
                display: block;
            }
        }

        .topbar-actions {
            .config-btn-container {
                .config-btn {
                    padding: .5rem;
                    span {
                        display: none;
                    }
                }
            }
        }
        
    }
}
