html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-b);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-topbar {
  height: 80px;
  background-color: var(--surface-a);
  padding: 0 2rem;
  border-bottom: 1px solid var(--surface-d);
  display: flex;
  justify-content: space-between;
}
.layout-topbar .topbar-logo {
  padding: 12px 0;
}
.layout-topbar .topbar-logo img {
  height: 56px;
}
.layout-topbar .topbar-actions {
  display: flex;
}
.layout-topbar .topbar-actions .topbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.layout-topbar .topbar-actions .topbar-menu li {
  display: flex;
}
.layout-topbar .topbar-actions .topbar-menu li a {
  color: var(--text-color-secondary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
  text-decoration: none;
  min-width: 120px;
  outline: 0 none;
}
.layout-topbar .topbar-actions .topbar-menu li a:hover, .layout-topbar .topbar-actions .topbar-menu li a:focus {
  border-bottom-color: var(--surface-d);
}
.layout-topbar .topbar-actions .topbar-menu li a.router-link-active {
  color: var(--text-color);
  border-bottom-color: var(--primary-color);
}
.layout-topbar .topbar-actions .config-btn-container {
  display: flex;
  align-items: center;
}
.layout-topbar .topbar-actions .config-btn-container .config-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--surface-d);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: var(--text-color-secondary);
  transition: background-color 0.2s;
  outline: 0 none;
}
.layout-topbar .topbar-actions .config-btn-container .config-btn i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}
.layout-topbar .topbar-actions .config-btn-container .config-btn:hover {
  background-color: var(--surface-c);
}

.layout-breadcrumb {
  background-color: var(--surface-a);
  border-bottom: 1px solid var(--surface-d);
  padding: 0.5rem 2rem;
}
.layout-breadcrumb ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.layout-breadcrumb ul li {
  display: flex;
  align-items: center;
}
.layout-breadcrumb ul li a {
  line-height: 1;
  color: var(--text-secondary);
  text-transform: capitalize;
  text-decoration: none;
}
.layout-breadcrumb ul li:last-child a {
  font-weight: 700;
}
.layout-breadcrumb ul li .chevron {
  margin: 0 0.5rem;
}

.layout-config .p-sidebar {
  overflow: auto;
}
.layout-config .grid > div {
  padding: 1rem;
  text-align: center;
}
.layout-config .grid > div span {
  display: block;
}
.layout-config .grid > div button {
  position: relative;
  display: inline-flex;
  justify-content: center;
}
.layout-config .free-themes img {
  width: 50px;
  border-radius: 4px;
  transition: transform 0.2s;
}
.layout-config .free-themes img:hover {
  transform: scale(1.1);
}
.layout-config .free-themes span {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.layout-config .premium-themes img {
  width: 100%;
  transition: transform 0.2s;
}
.layout-config .premium-themes img:hover {
  transform: scale(1.1);
}
.layout-config .theme-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 2rem 1rem 1rem 1rem;
}
.layout-config .theme-title:first-child {
  margin-top: 0;
}

.layout-content {
  padding: 2rem;
}

.block-category-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.block-category {
  margin-bottom: 4rem;
}

.block-group {
  border-bottom: 1px solid var(--surface-d);
  margin-bottom: 2rem;
}
.block-group:last-child {
  border-bottom: 0;
}

.block-group-title {
  font-weight: 700;
  padding: 1rem 2rem;
  display: block;
  background-color: var(--surface-a);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid var(--surface-d);
}

.block-group-content {
  background-color: var(--surface-a);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid var(--surface-d);
  border-top: 0 none;
  padding: 2rem;
}
.block-group-content .grid {
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
.block-group-content .col-12 {
  padding: 1rem;
}

.block-placeholder {
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
}

.block-name {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.block-count {
  display: block;
  color: var(--text-color-secondary);
}

.block-section {
  margin-bottom: 4rem;
}

.block-header {
  padding: 1rem 2rem;
  background-color: var(--surface-a);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid var(--surface-d);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-header .block-title {
  font-weight: 700;
  display: block;
}
.block-header .block-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-header .block-actions a {
  display: block;
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 0.2s;
  cursor: pointer;
}
.block-header .block-actions a:last-child {
  margin-right: 0;
}
.block-header .block-actions a:hover {
  background-color: var(--surface-c);
}
.block-header .block-actions a.block-action-active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.block-header .block-actions a.block-action-copy i {
  color: var(--primary-color);
  font-size: 1.25rem;
}

.block-content {
  padding: 0;
  border: 1px solid var(--surface-d);
  border-top: 0 none;
}
.block-content > div {
  display: none;
}
.block-content > div.block-content-active {
  display: block;
}

pre[class*=language-] {
  margin: 0 !important;
}
pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: var(--surface-e) !important;
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  padding: 0 2rem !important;
}
pre[class*=language-] code .token.tag, pre[class*=language-] code .token.keyword {
  color: #2196F3 !important;
}
pre[class*=language-] code .token.attr-name, pre[class*=language-] code .token.attr-string {
  color: #2196F3 !important;
}
pre[class*=language-] code .token.attr-value {
  color: #4CAF50 !important;
}
pre[class*=language-] code .token.punctuation {
  color: var(--text-color);
}
pre[class*=language-] code .token.operator, pre[class*=language-] code .token.string {
  background: transparent;
}
