<div class="block-category-title">Application UI</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Application Shells</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stackedlayout.svg" class="block-placeholder" alt="Stacked Layout">
                    <span class="block-name">Stacked Layout</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-sidebarlayouts.svg" class="block-placeholder" alt="Sidebar Layout">
                    <span class="block-name">Sidebar Layout</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stackedlayout.svg" class="block-placeholder" alt="Multi-Column Layout">
                    <span class="block-name">Multi-Column Layout</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Headings</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/pageheading']">
                        <img src="assets/images/placeholders/placeholder-pageheadings.svg" class="block-placeholder" alt="Page Heading">
                    </a>
                    <span class="block-name">Page Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/cardheading']">
                        <img src="assets/images/placeholders/placeholder-cardheadings.svg" class="block-placeholder" alt="Card Heading">
                    </a>
                    <span class="block-name">Card Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/sectionheading']">
                        <img src="assets/images/placeholders/placeholder-sectionheadings.svg" class="block-placeholder" alt="Section Heading">
                    </a>
                    <span class="block-name">Section Heading</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Data Display</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/descriptionlist']">
                        <img src="assets/images/placeholders/placeholder-descriptionlist.svg" class="block-placeholder" alt="Description List">
                    </a>
                    <span class="block-name">Description List</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/stats']">
                        <img src="assets/images/placeholders/placeholder-stats-data.svg" class="block-placeholder" alt="Stats">
                    </a>
                    <span class="block-name">Stats</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Lists</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/stackedlist']">
                        <img src="assets/images/placeholders/placeholder-stackedlists.svg" class="block-placeholder" alt="Stacked List">
                    </a>
                    <span class="block-name">Stacked List</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/gridlist']">
                        <img src="assets/images/placeholders/placeholder-gridlists.svg" class="block-placeholder" alt="Grid List">
                    </a>
                    <span class="block-name">Grid List</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/feed']">
                        <img src="assets/images/placeholders/placeholder-feeds.svg" class="block-placeholder" alt="Feed">
                    </a>
                    <span class="block-name">Feed</span>
                    <span class="block-count">1 Block</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Forms</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/formlayout']">
                        <img src="assets/images/placeholders/placeholder-formlayouts.svg" class="block-placeholder" alt="Form Layout">
                    </a>
                    <span class="block-name">Form Layout</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/signin']">
                        <img src="assets/images/placeholders/placeholder-signin.svg" class="block-placeholder" alt="Sign-in">
                    </a>
                    <span class="block-name">Sign-in</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/radiogroup']">
                        <img src="assets/images/placeholders/placeholder-radiogroups.svg" class="block-placeholder" alt="Radio Group">
                    </a>
                    <span class="block-name">Radio Group</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/actionpanel']">
                        <img src="assets/images/placeholders/placeholder-actionpanels.svg" class="block-placeholder" alt="Action Panel">
                    </a>
                    <span class="block-name">Action Panel</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Feedback</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/alert']">
                        <img src="assets/images/placeholders/placeholder-alert.svg" class="block-placeholder" alt="Alert">
                    </a>
                    <span class="block-name">Alert</span>
                    <span class="block-count">3 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Navigation</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/navbar']">
                        <img src="assets/images/placeholders/placeholder-app-navbar.svg" class="block-placeholder" alt="Navbar">
                    </a>
                    <span class="block-name">Navbar</span>
                    <span class="block-count">3 Blocks</span>>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/tabs']">
                        <img src="assets/images/placeholders/placeholder-tabs.svg.svg" class="block-placeholder" alt="Tabs">
                    </a>
                    <span class="block-name">Tabs</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/application/verticalnav']">
                        <img src="assets/images/placeholders/placeholder-verticalnavigation.svg" class="block-placeholder" alt="Vertical Navigation">
                    </a>
                    <span class="block-name">Vertical Navigation</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-sidebarnavigation.svg" class="block-placeholder" alt="Sidebar Navigation">
                    <span class="block-name">Sidebar Navigation</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-breadcrumb.svg" class="block-placeholder" alt="Breadcrumb">
                    <span class="block-name">Breadcrumbs</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-steps.svg" class="block-placeholder" alt="Steps">
                    <span class="block-name">Steps</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Overlays</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-modals.svg" class="block-placeholder" alt="Modal">
                    <span class="block-name">Modal</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-slideovers.svg" class="block-placeholder" alt="Slide-over">
                    <span class="block-name">Slide-over</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-notification.svg" class="block-placeholder" alt="Notification">
                    <span class="block-name">Notification</span>
                    <span class="block-count">5 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Layout</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-containers.svg" class="block-placeholder" alt="Container">
                    <span class="block-name">Container</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-panels.svg" class="block-placeholder" alt="Panel">
                    <span class="block-name">Panel</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-listcontainers.svg" class="block-placeholder" alt="List Container">
                    <span class="block-name">List Container</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-mediaobjects.svg" class="block-placeholder" alt="Media">
                    <span class="block-name">Media</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-dividers.svg" class="block-placeholder" alt="Dividers">
                    <span class="block-name">Divider</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>
