<div class="block-category-title">Logo Cloud</div>
<block-viewer title="Grid" [code]="block1">
    <div class="p-8 surface-0">
        <div class="text-900 mb-3 font-bold text-5xl text-center">Trusted By</div>
        <div class="text-600 mb-6 line-height-3 text-xl text-center">We provide many of the Planet Earth’s most powerful companies with extraordinary infrastructural capabilities.</div>

        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/alfred-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/hyper-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/bastion-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/peak-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/charot-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/shodan-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/hodly-700.svg" alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-50 flex align-items-center justify-content-center p-3">
                    <img src="assets/images/blocks/logos/franki-700.svg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</block-viewer>

<block-viewer title="Contrast Background" [code]="block2">
    <div class="p-8 surface-900">
        <div class="text-0 mb-3 font-bold text-5xl">You're in good company</div>
        <div class="text-0 mb-6 line-height-3 text-xl">Millions of individuals, corporations, startups and institutes work with us.</div>

        <div class="flex align-items-center text-center flex-wrap">
            <div class="flex-grow-1 p-3">
                <img src="assets/images/blocks/logos/alfred-300.svg" alt="Image">
            </div>
            <div class="flex-grow-1 p-3">
                <img src="assets/images/blocks/logos/charot-300.svg" alt="Image">
            </div>
            <div class="flex-grow-1 p-3">
                <img src="assets/images/blocks/logos/hyper-300.svg" alt="Image">
            </div>
            <div class="flex-grow-1 p-3">
                <img src="assets/images/blocks/logos/hodly-300.svg" alt="Image">
            </div>
            <div class="flex-grow-1 p-3">
                <img src="assets/images/blocks/logos/franki-300.svg" alt="Image">
            </div>
        </div>
    </div>
</block-viewer>