<div class="block-category-title">Marketing</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Page Sections</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/hero']">
                        <img src="assets/images/placeholders/placeholder-hero.svg" class="block-placeholder" alt="Hero">
                    </a>
                    <span class="block-name">Hero</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/feature']">
                        <img src="assets/images/placeholders/placeholder-feature.svg" class="block-placeholder" alt="Feature">
                    </a>
                    <span class="block-name">Feature</span>
                    <span class="block-count">6 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/cta']">
                        <img src="assets/images/placeholders/placeholder-cta.svg" class="block-placeholder" alt="CTA">
                    </a>
                    <span class="block-name">Call to Action</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/pricing']">
                        <img src="assets/images/placeholders/placeholder-pricing.svg" class="block-placeholder" alt="Pricing">
                    </a>
                    <span class="block-name">Pricing</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/header']">
                      <img src="assets/images/placeholders/placeholder-headersection.svg" class="block-placeholder" alt="Header">
                    </a>
                    <span class="block-name">Header</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/marketing/faq']">
                        <img src="assets/images/placeholders/placeholder-faq.svg" class="block-placeholder" alt="FAQ">
                    </a>
                    <span class="block-name">FAQ</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-newsletter.svg" class="block-placeholder" alt="Newsletter">
                    <span class="block-name">Newsletter</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-testimonials.svg" class="block-placeholder" alt="Testimonial">
                    <span class="block-name">Testimonial</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-blogsections.svg" class="block-placeholder" alt="Blog">
                    <span class="block-name">Blog</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-contactsections.svg" class="block-placeholder" alt="Contact">
                    <span class="block-name">Contact</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-teamsections.svg" class="block-placeholder" alt="Team">
                    <span class="block-name">Team</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-contentsections.svg" class="block-placeholder" alt="Content">
                    <span class="block-name">Content</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-footer.svg" class="block-placeholder" alt="Footer">
                    <span class="block-name">Footer</span>
                    <span class="block-count">4 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-logocloud.svg" class="block-placeholder" alt="Logo Cloud">
                    <span class="block-name">Logo Cloud</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-stats.svg" class="block-placeholder" alt="Stats">
                    <span class="block-name">Stats</span>
                    <span class="block-count">4 Blocks</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Elements</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-headers.svg" class="block-placeholder" alt="Headers">
                    <span class="block-name">Headers</span>
                    <span class="block-count">2 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-banner.svg" class="block-placeholder" alt="Banners">
                    <span class="block-name">Banners</span>
                    <span class="block-count">3 Blocks</span>
                </div>
                <div class="col-12 md:col-3">
                    <img src="assets/images/placeholders/placeholder-flyoutmenus.svg" class="block-placeholder" alt="Flyout Menus">
                    <span class="block-name">Flyout Menus</span>
                    <span class="block-count">2 Blocks</span>
                </div>
            </div>
        </div>
    </div>
</div>
