<div class="block-category-title">Notification</div>
<block-viewer title="Message Actions" [code]="block1" previewClass="surface-0 px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <button pButton label="Display" (click)="notify1()"></button>
    <p-toast key="block1" [style]="{width: '30rem'}" [preventOpenDuplicates]="true">
        <ng-template let-message pTemplate="message">
            <div class="flex">
                <div class="flex flex-column p-3">
                    <div class="flex align-items-center">
                        <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle" style="width:32px;height:32px">
                            <i class="pi pi-info text-lg"></i>
                        </span>
                        <span class="font-medium text-2xl text-900">{{message.summary}}</span>
                    </div>
                    <p class="my-3 p-0 line-height-3 text-700">{{message.detail}}</p>
                </div>
                <div class="flex flex-column border-left-1 border-300">
                    <div class="flex-auto flex align-items-center justify-content-center px-3">
                        <button pButton label="Update" class="p-button-text" (click)="clear('block1')"></button>
                    </div>
                    <div class="flex-auto border-top-1 border-300 flex align-items-center justify-content-center px-3">
                        <button pButton label="Later" class="p-button-text" (click)="clear(block2)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
</block-viewer>

<block-viewer title="Dark with Timeout" [code]="block2" previewClass="surface-0 px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <button pButton label="Display" (click)="notify2()"></button>
    <p-toast key="block2" [preventOpenDuplicates]="true">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column">
                <div class="p-3">
                    <div class="flex align-items-center">
                        <span class="flex align-items-center justify-content-center bg-blue-400 text-blue-900 mr-3 border-circle" style="width:32px;height:32px">
                            <i class="pi pi-info text-lg"></i>
                        </span>
                        <span class="font-medium text-2xl text-0">{{message.summary}}</span>
                    </div>
                    <p class="my-3 line-height-3 text-300">{{message.detail}}</p>
                </div>
                <div style="height:6px" class="surface-700">
                    <div class="h-full width bg-blue-500"></div>
                </div>
            </div>
            
        </ng-template>
    </p-toast>
</block-viewer>